<div>
  <h2 id="page-heading" data-cy="EmployeeInformationHeading">
    <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.home.title">Employee Informations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee-information"
        [routerLink]="['/employee-information/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.home.createLabel">Create a new Employee Information</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (employeeInformations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.home.notFound">No Employee Informations found</span>
    </div>
  }

  @if (employeeInformations && employeeInformations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="handle">
              <div class="d-flex">
                <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.handle">Handle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="sweng861CourseProjectApp.employeeInformation.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (employeeInformation of employeeInformations; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/employee-information', employeeInformation.id, 'view']">{{ employeeInformation.id }}</a>
              </td>
              <td>{{ employeeInformation.name }}</td>
              <td>{{ employeeInformation.handle }}</td>
              <td>
                {{ employeeInformation.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/employee-information', employeeInformation.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/employee-information', employeeInformation.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(employeeInformation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
